.search-container {
  position: relative;
}

#search-input::-webkit-search-decoration,
#search-input::-webkit-search-cancel-button,
#search-input::-webkit-search-results-button,
#search-input::-webkit-search-results-decoration {
  display: none;
}

#search-clear {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
